<button (click)="onExport()" class="btn btn-primary mb-3 ml-2">Export Employees</button>
<table class="table table-hover">
    <tr>
        <th>Image</th>
        <th>FullName</th>
        <th>Position</th>
        <th>Mobile</th> 
    </tr>
    <tr *ngFor="let emp of service.list">
      <td (click)="populateForm(emp)"><img [src]="createImgPath(emp.imgPath)" alt="profile picture" style="width:60px; height:60px;"></td>
      <td (click)="populateForm(emp)">[{{emp.empCode}}]-{{emp.fullName}}</td>
      <td (click)="populateForm(emp)">{{emp.position}}</td>
      <td (click)="populateForm(emp)">{{emp.mobile}}</td>
      <td><button (click)="onDelete(emp.id)" class="btn btn-sm btn-outline-danger">X</button></td>
    </tr>
  </table>
