<div class="row" style="margin-bottom:30px;">
    <div class="col-md-3 mr-3">
      <img [src]="imageUrl" style="width:170px;height: 220px;margin-bottom: 20px;">
      <input type="file" #file placeholder="Choose file" accept="image/*" (change)="handleFileInput($event.target.files);uploadFile(file.files)" style="display:none;">
      <button type="button" class="btn btn-success" (click)="file.click()">Upload File</button>
    </div>
    <div class="col-md-6">
      <span class="upload" *ngIf="progress > 0">
        {{progress}}%
      </span>
      <span class="upload" *ngIf="message">
        {{message}}
      </span>
    </div>
</div>
